<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="TetrisDb" connectionString="Data Source=.;Initial Catalog=TetrisDb;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="TetrisDb" connectionString="Server=8b7f71bd-9996-4c03-86be-a34600f44c26.sqlserver.sequelizer.com;Database=db8b7f71bd99964c0386bea34600f44c26;User ID=nrslwgidmrhakurr;Password=Qh3K2gyijhdJ3oapVbyC2qKVF5BWnY32ds8XdchzqGqTjSooPdnvymXyDfd6LJ4t;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>